<!DOCTYPE>
<html>
<head>
    <title>
        Help
    </title>
    <link rel="icon" href="././Img/weather.png">
    <link rel="stylesheet" href="./Css/Styles.css">
    <script src="JS/app.js"></script>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>

    {{>footer}}
</body>


</html>